{% extends "base.html" %}

{% block content %}
    <h1>What is MyTinder?</h1>
    <p>You're now on a dating website MyTinder. Welcome!</p>
    <p>To start you need to pass the <a href="{{ url_for('register') }}">registration</a>.</p>
    <p>After that, you will be offered one by one profiles of other users of the app. You will be able to like or dislike them. If you like someone who has also liked you then you will get the opportunity to start a private chat. That's easy :)</p>
    <p>We wish you more new acquaintances!</p>

{% endblock %}